.Folder {
  border: 2px solid #ccc;
  background: #ebecf0;
  display: flex;
  flex-direction: column;
  width: 272px;
  min-width: 272px;
  height: 100%;
}

.Folder-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.Folder-Name {
  display: flex;
  padding: 4px;
  font-weight: 700;
  font-size: smaller;
  position: sticky;
  top: 0px;
  background: #ebecf0;
  width: 100%;
}

.Folder-Name::before {
  margin-right: 4px;
  content: "📁";
}

.Folder-Name:hover {
  background: #ffffff50;
  cursor: pointer;
}

.Folder-Input {
  width: 100%;
}

.File-List {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: none;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
}

.Folder input {
  background: blue;
  color: #fefefe;
}
